# Server Configuration
PORT=3001
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pet_airlines
DB_USER=petadmin
DB_PASSWORD=petpassword123

# CORS Configuration
CORS_ORIGIN=http://localhost:5173

DEEPL_API_KEY=b9a08d6f-94df-4228-8610-cdfc006f1c17:fx
